<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Notes</h1>

  <% @notes.each do |note| %>
      <div class="card mb-2 mt-2 p-2">
        <div>
          <img src="<%= note.icon_link %>" class="rounded float-left mr-1">
          <%= link_to note.name.html_safe, note_path(id: note.id), class: 'font-weight-bold text-primary' %>
        </div>
        <ul class="list-unstyled text-muted m-0 ml-3">
          <li><%= note.created_time %></li>
          <li><%= note.description %></li>
        </ul>

      </div>
  <% end %>

  <br>

  <div class="d-flex justify-content-around align-items-center">
    <%= link_to_unless(@page_tokens[:current_page_token].nil?, \
                   '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, \
                   notes_path, class: 'fa-4x') do %>
        <i class="fa fa-angle-double-left fa-4x text-muted" aria-hidden="true"></i>
    <% end %>
    <%= link_to '<i class="fa fa-angle-right" aria-hidden="true"></i>'.html_safe, \
                  notes_path(current_page_token: @page_tokens[:next_page_token], last_page_token: @page_tokens[:current_page_token]), \
                  class: 'fa-4x' %>
  </div>

</div>